/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.Botones {
  display: none;
}

div:hover > .Botones {
  display: block;
}

.backing {
  width: 70px;
}
.checkbox {
  margin-left: 15px;
}
div:hover > .backing {
  display: none;
}

.tasks:hover {
  background-color: rgb(82, 116, 171);
  font-style: oblique;
}
